{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron home-jumbotron">
      <div class="container">
        <h1 class="display-4"><span class="live-title">Loading session</span></h1>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Signal</td>
                    <td><code class="trip-signal"></code></td>
                </tr>
                <tr>
                    <td>Last Update</td>
                    <td><code class="trip-updated"></code></td>
                </tr>
                <tr>
                    <td>Current Speed</td>
                    <td><code class="trip-now-speed"></code></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid container-map">
        <div id="map"></div>
    </div>

    <script>
    var map = null;
    var marker = null;
    var socket = null;

    function tracker(data) {
        var trip = live(data);

        if(marker)
            marker.setMap(null);

        marker = new google.maps.Marker({
            position: trip['coord'],
            map: map,
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 5
              },
            title: 'Current position'
        });

        var speed = trip['speed'].toFixed(2)
        var speedtext = speed + ' km/h';

        console.log(trip);

        var signal = "Searching...";
        if(trip['quality'] == "GPS")
            var signal = trip['quality'] + " (Satellites: " + trip['sats'] + ", HDOP: " + trip['hdop'] + ")";

        var livetitle = 'Live session';
        var liveclass = 'text-success';

        if(trip['status'] == 'offline') {
            var livetitle = "Tracker offline";
            var liveclass = 'text-danger';
        }

        $('.live-title').attr('class', liveclass).html(livetitle);
        $('.trip-signal').html(signal);
        $('.trip-updated').html(trip['update']);
        $('.trip-now-speed').html(speedtext);

        if(trip['coord']['lat'])
            map.setCenter(trip['coord']);
    }

    function connect() {
        socket = new WebSocket("ws://live.gps.maxux.net/");

        socket.onopen = function() {
            console.log("websocket open");
        }

        socket.onmessage = function(msg) {
            json = JSON.parse(msg.data);
            // console.log(json);
            tracker(json);
        }

        socket.onclose = function() {
            $('#disconnected').show();
            setTimeout(connect, 2000);
        }
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: 50.639827, lng: 5.568498},
            mapTypeId: 'terrain'
        });

        connect();
    }
    </script>
{% endblock %}
