{% extends "layout.html" %}
{% block content %}
    <div class="container home-container">
        <h1 class="display-4">Sessions</h1>
        <table id="sessions-list" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Departure</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

    <script>
    function sessions(data) {
        var current = 0;

        for(var idx in data) {
            if(current++ > 30)
                return;

            var entry = data[idx];

            var lnk = $('<a>', {'href': '/session/' + entry['id']}).html('#' + entry['id']);

            var tr = $('<tr>');
            tr.append($('<td>').append(lnk));
            tr.append($('<td>').html(entry['datetime']));

            $('#sessions-list tbody').append(tr);
        }
    }

    $(document).ready(function() {
        $.get('/api/sessions', sessions);
    });
    </script>
{% endblock %}
