{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron home-jumbotron">
      <div class="container">
        <h1 class="display-4 session-name">Session #{{ SESSION_ID }}</h1>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Departure</td>
                    <td><code class="trip-departure"></code></td>
                </tr>
                <tr>
                    <td>Arrival</td>
                    <td><code class="trip-arrival"></code></td>
                </tr>
                <tr>
                    <td>Trip Time</td>
                    <td><code class="trip-time"></code></td>
                </tr>
                <tr>
                    <td>Trip Distance</td>
                    <td><code class="trip-distance"></code></td>
                </tr>
                <tr>
                    <td>Average Speed</td>
                    <td><code class="trip-avg-speed"></code></td>
                </tr>
                <tr>
                    <td>Max Speed</td>
                    <td><code class="trip-max-speed"></code></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid container-map">
        <div id="map"></div>

        <div id="speed-chart" class="chart"></div>
        <div id="elevate-chart" class="chart"></div>
        <div id="sats-chart" class="chart"></div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(chartloaded);

    var map = null;

    var speed_data = null;
    var elevate_data = null;
    var sats_data = null;
    var speed_chart = null;
    var points_data = null;
    var select_marker = null;

    function chartclick() {
        var selectedItem = speed_chart.getSelection()[0];

        if(!selectedItem)
            return;

        if(select_marker)
            select_marker.setMap(null);

        select_marker = new google.maps.Marker({
            position: points_data[selectedItem.row][1],
            map: map,
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 10
              },
            title: 'Chart Position'
        });
    }

    function tracker(data) {
        var bounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 50.66, lng: 5.574},
            mapTypeId: 'terrain'
        });

        var trip = compute(data);
        speed_data = trip['speeds'];
        elevate_data = trip['elevate'];
        sats_data = trip['satsview'];
        points_data = trip['points'];

        for(var entry in trip['segments']) {
            var segment = trip['segments'][entry];

            // extends map bounds
            bounds.extend(segment[0]);

            // compute color of the segment
            var speedpc = ((trip['speeds'][entry][1] / 90) * 100);
            if(speedpc > 100)
                speedpc = 100;

            var temp = (100 - speedpc) / 100;
            var color = (temp * 180).toFixed(0);

            // create the segment
            var segmentPath = new google.maps.Polyline({
                path: segment,
                geodesic: true,
                strokeColor: 'hsl(' + color + ', 100%, 40%)',
                strokeOpacity: 1.0,
                strokeWeight: 4
            });

            segmentPath.setMap(map);
        }

        map.fitBounds(bounds);

        // fill in table
        var triptime = trip['totaltime'] + ' seconds';
        if(trip['totaltime'] > 120)
            triptime = (trip['totaltime'] / 60).toFixed(2) + ' minutes';

        var triplength = (trip['length'].toFixed(0)) + ' meters';
        if(trip['length'] > 1200)
            triplength = ((trip['length'] / 1000).toFixed(2)) + ' km';

        var avgauto = trip['speedavg'].toFixed(2)
        var avgautotext = avgauto + ' km/h';

        var avgtime = ((trip['length'] / trip['totaltime']) * 3.6).toFixed(2);
        var avgtimetext = avgtime + ' km/h';

        $('.trip-departure').html(trip['departure']);
        $('.trip-arrival').html(trip['arrival']);
        $('.trip-time').html(triptime);
        $('.trip-distance').html(triplength);
        $('.trip-avg-speed').html(avgautotext + ' [' + avgtimetext + ']');
        $('.trip-max-speed').html(trip['speedmax'].toFixed(2) + ' km/h');

        // try to draw chart if everything is ready
        chartable();
    }

    function chartloaded() {
        speed_chart = true;
        chartable();
    }

    function chartable() {
        if(speed_chart && speed_data)
            charting();
    }

    function charting() {
        // adding header
        speed_data.unshift(['Time', 'Speed']);
        elevate_data.unshift(['Time', 'Altitude']);
        sats_data.unshift(['Time', 'Satellites']);

        // plot data
        var local_speed = google.visualization.arrayToDataTable(speed_data);
        var local_elevate = google.visualization.arrayToDataTable(elevate_data);
        var local_sats = google.visualization.arrayToDataTable(sats_data);

        // Set chart options
        var options = {
            title: 'Trip speed',
            curveType: 'function',
            legend: { position: 'bottom' },
            vAxis: {viewWindow: {min: 0}},
            trendlines: { 0: {} }
        };

        speed_chart = new google.visualization.LineChart(document.getElementById('speed-chart'));
        google.visualization.events.addListener(speed_chart, 'select', chartclick);
        speed_chart.draw(local_speed, options);

        /*
        // Set chart options
        var options = {
            title: 'Trip Altitude',
            curveType: 'function',
            legend: { position: 'bottom' },
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('elevate-chart'));
        chart.draw(local_elevate, options);

        // Set chart options
        var options = {
            title: 'Satellites in view',
            legend: { position: 'bottom' },
            vAxis: {viewWindow: {min: 0}}
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.AreaChart(document.getElementById('sats-chart'));
        chart.draw(local_sats, options);
        */
    }

    function initMap() {
        $.get('/api/session/{{ SESSION_ID }}', tracker);
    }
    </script>
{% endblock %}
