{% extends "layout.html" %}
{% block content %}
    <div class="container home-container">
        <h1 class="display-4">Sessions</h1>
        <ul id="sessions-list">
        </ul>
    </div>

    <script>
    function sessions(data) {
        for(var idx in data) {
            var entry = data[idx];
            var text = 'Session #' + entry['id'] + ': ' + entry['datetime'] + ' (UTC)';
            var lnk = $('<a>', {'href': '/session/' + entry['id']}).html(text);

            $('#sessions-list').append($('<li>').append(lnk));
        }
    }

    $(document).ready(function() {
        $.get('/api/sessions', sessions);
    });
    </script>
{% endblock %}
